<div id="<%= dom_id kline %>">
  <p>
    <strong>Open time:</strong>
    <%= kline.open_time %>
  </p>

  <p>
    <strong>Open:</strong>
    <%= kline.open %>
  </p>

  <p>
    <strong>High:</strong>
    <%= kline.high %>
  </p>

  <p>
    <strong>Low:</strong>
    <%= kline.low %>
  </p>

  <p>
    <strong>Close:</strong>
    <%= kline.close %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= kline.volume %>
  </p>

  <p>
    <strong>Close time:</strong>
    <%= kline.close_time %>
  </p>

  <p>
    <strong>Quote asset volume:</strong>
    <%= kline.quote_asset_volume %>
  </p>

  <p>
    <strong>Number of trades:</strong>
    <%= kline.number_of_trades %>
  </p>

  <p>
    <strong>Taker buy base asset volume:</strong>
    <%= kline.taker_buy_base_asset_volume %>
  </p>

  <p>
    <strong>Taker buy quote asset volume:</strong>
    <%= kline.taker_buy_quote_asset_volume %>
  </p>

</div>
